* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

:root {
  --primary: #E50914;
  --black: #141414;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5;
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
  --backgroundColor: #141414;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
}

a {
  color: inherit;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

.GoHome {
  float: right;
  margin-top: -22px;
}
